:root {
  --color-gray-1: hsl(194.33, 0%, 96.6%);
  --color-gray-2: hsl(194.33, 0%, 88.76%);
  --color-gray-3: hsl(194.33, 0%, 54.65%);
  --color-gray-4: hsl(194.33, 0%, 43.69%);
  --color-gray-5: hsl(194.33, 0%, 24.13%);
  --color-gray-6: hsl(194.33, 0%, 13.15%);

  --color-rose-1: hsl(346.07, 99.43%, 98.5%);
  --color-rose-2: hsl(345.18, 99.96%, 93.2%);
  --color-rose-3: hsl(334.81, 99.99%, 61.6%);
  --color-rose-4: hsl(328.92, 99.98%, 42.97%);
  --color-rose-5: hsl(330.17, 99.93%, 25.07%);
  --color-rose-6: hsl(332.18, 99.94%, 14.98%);

  --color-raspberry-1: hsl(357.78, 99.6%, 98.53%);
  --color-raspberry-2: hsl(357.11, 99.89%, 93.31%);
  --color-raspberry-3: hsl(346.49, 100%, 62.87%);
  --color-raspberry-4: hsl(338.06, 99.91%, 43.59%);
  --color-raspberry-5: hsl(339.67, 99.94%, 25.43%);
  --color-raspberry-6: hsl(341.96, 99.97%, 15.97%);

  --color-red-1: hsl(8.36, 99.84%, 98.32%);
  --color-red-2: hsl(8.16, 99.91%, 92.38%);
  --color-red-3: hsl(359.7, 100%, 63.73%);
  --color-red-4: hsl(348.63, 99.98%, 44%);
  --color-red-5: hsl(350.67, 99.96%, 25.69%);
  --color-red-6: hsl(357.65, 99.99%, 16.18%);

  --color-orange-1: hsl(17.05, 99.76%, 98.01%);
  --color-orange-2: hsl(17.3, 99.97%, 90.92%);
  --color-orange-3: hsl(18.2, 99.99%, 49.52%);
  --color-orange-4: hsl(17.68, 99.98%, 40.12%);
  --color-orange-5: hsl(17.02, 99.98%, 23.02%);
  --color-orange-6: hsl(20.77, 99.94%, 12.58%);

  --color-cinnamon-1: hsl(25.29, 99.95%, 97.6%);
  --color-cinnamon-2: hsl(26.05, 99.98%, 88.85%);
  --color-cinnamon-3: hsl(32.37, 99.98%, 41.74%);
  --color-cinnamon-4: hsl(31.96, 99.97%, 33.74%);
  --color-cinnamon-5: hsl(30.71, 100%, 19.36%);
  --color-cinnamon-6: hsl(31.7, 99.96%, 10.77%);

  --color-amber-1: hsl(34.3, 99.88%, 96.9%);
  --color-amber-2: hsl(35.9, 100%, 84.95%);
  --color-amber-3: hsl(42.6, 99.96%, 36.2%);
  --color-amber-4: hsl(42.28, 99.99%, 28.57%);
  --color-amber-5: hsl(41.2, 99.94%, 16.09%);
  --color-amber-6: hsl(41.07, 99.98%, 9.38%);

  --color-yellow-1: hsl(46, 99.99%, 94.95%);
  --color-yellow-2: hsl(51.81, 100%, 62.08%);
  --color-yellow-3: hsl(53.34, 99.93%, 30.68%);
  --color-yellow-4: hsl(53.2, 99.99%, 24.58%);
  --color-yellow-5: hsl(52.64, 99.98%, 13.72%);
  --color-yellow-6: hsl(51.45, 99.93%, 8.1%);

  --color-lime-1: hsl(65.62, 100%, 83.69%);
  --color-lime-2: hsl(67.06, 99.99%, 47.44%);
  --color-lime-3: hsl(67.31, 99.91%, 28.91%);
  --color-lime-4: hsl(67.47, 99.96%, 23.14%);
  --color-lime-5: hsl(67.99, 99.92%, 12.84%);
  --color-lime-6: hsl(65.61, 99.97%, 7.39%);

  --color-chartreuse-1: hsl(85.69, 99.99%, 88.16%);
  --color-chartreuse-2: hsl(83.69, 99.96%, 49.28%);
  --color-chartreuse-3: hsl(84.47, 99.98%, 30.44%);
  --color-chartreuse-4: hsl(84.97, 99.96%, 24.4%);
  --color-chartreuse-5: hsl(86.81, 99.97%, 13.6%);
  --color-chartreuse-6: hsl(82.22, 99.9%, 7.37%);

  --color-green-1: hsl(109.97, 99.98%, 92.62%);
  --color-green-2: hsl(117.73, 100%, 71.17%);
  --color-green-3: hsl(131.49, 99.86%, 31.77%);
  --color-green-4: hsl(130.54, 99.9%, 25.48%);
  --color-green-5: hsl(126.84, 99.95%, 14.25%);
  --color-green-6: hsl(110.87, 99.97%, 7.84%);

  --color-emerald-1: hsl(136.97, 99.98%, 93.17%);
  --color-emerald-2: hsl(145.53, 99.99%, 68.22%);
  --color-emerald-3: hsl(153.53, 99.82%, 31.48%);
  --color-emerald-4: hsl(153.03, 99.98%, 25.22%);
  --color-emerald-5: hsl(150.93, 99.9%, 14.11%);
  --color-emerald-6: hsl(146.95, 99.88%, 7.86%);

  --color-aquamarine-1: hsl(154.47, 99.98%, 92.65%);
  --color-aquamarine-2: hsl(161.94, 100%, 62.84%);
  --color-aquamarine-3: hsl(165.15, 99.85%, 31.18%);
  --color-aquamarine-4: hsl(164.85, 99.87%, 25%);
  --color-aquamarine-5: hsl(163.67, 99.87%, 13.96%);
  --color-aquamarine-6: hsl(161.53, 99.95%, 7.77%);

  --color-teal-1: hsl(167.47, 100%, 92.17%);
  --color-teal-2: hsl(173.64, 99.94%, 49.99%);
  --color-teal-3: hsl(173.43, 99.95%, 30.9%);
  --color-teal-4: hsl(173.28, 99.82%, 24.24%);
  --color-teal-5: hsl(172.72, 99.88%, 13.34%);
  --color-teal-6: hsl(171.81, 99.98%, 7.68%);

  --color-cyan-1: hsl(178.99, 99.99%, 88.47%);
  --color-cyan-2: hsl(180.23, 99.9%, 49.17%);
  --color-cyan-3: hsl(180.23, 100%, 30.19%);
  --color-cyan-4: hsl(180.24, 99.87%, 24.13%);
  --color-cyan-5: hsl(180.26, 99.82%, 13.28%);
  --color-cyan-6: hsl(180.3, 99.96%, 7.2%);

  --color-powder-1: hsl(188.47, 99.97%, 92.71%);
  --color-powder-2: hsl(188.15, 99.99%, 77.65%);
  --color-powder-3: hsl(185.92, 99.91%, 33.09%);
  --color-powder-4: hsl(186.04, 99.81%, 26.49%);
  --color-powder-5: hsl(186.53, 99.89%, 14.15%);
  --color-powder-6: hsl(187.45, 99.81%, 7.59%);

  --color-sky-1: hsl(196.72, 99.94%, 94.54%);
  --color-sky-2: hsl(195.99, 99.97%, 84.14%);
  --color-sky-3: hsl(190.84, 99.77%, 35.38%);
  --color-sky-4: hsl(191.03, 99.95%, 28.22%);
  --color-sky-5: hsl(191.83, 99.82%, 15.53%);
  --color-sky-6: hsl(193.54, 99.91%, 7.91%);

  --color-cerulean-1: hsl(204.68, 99.99%, 95.59%);
  --color-cerulean-2: hsl(203.62, 100%, 86.22%);
  --color-cerulean-3: hsl(195.6, 99.93%, 38.63%);
  --color-cerulean-4: hsl(195.86, 99.98%, 30.88%);
  --color-cerulean-5: hsl(197, 99.88%, 16.48%);
  --color-cerulean-6: hsl(199.33, 99.94%, 8.26%);

  --color-azure-1: hsl(213.32, 99.82%, 95.42%);
  --color-azure-2: hsl(212.28, 100%, 88.74%);
  --color-azure-3: hsl(200.83, 99.92%, 42.9%);
  --color-azure-4: hsl(201.14, 99.97%, 34.34%);
  --color-azure-5: hsl(202.49, 99.9%, 18.46%);
  --color-azure-6: hsl(205.29, 99.95%, 9.41%);

  --color-blue-1: hsl(224.63, 99.87%, 97%);
  --color-blue-2: hsl(223.56, 99.9%, 91.61%);
  --color-blue-3: hsl(207.29, 99.89%, 49.39%);
  --color-blue-4: hsl(207.65, 99.86%, 39.64%);
  --color-blue-5: hsl(209.15, 99.94%, 21.47%);
  --color-blue-6: hsl(212.22, 99.94%, 11.14%);

  --color-indigo-1: hsl(241.96, 99.87%, 97.56%);
  --color-indigo-2: hsl(240.84, 99.96%, 93.36%);
  --color-indigo-3: hsl(230.37, 99.99%, 69.86%);
  --color-indigo-4: hsl(216.87, 99.99%, 49.48%);
  --color-indigo-5: hsl(218.47, 99.95%, 27.11%);
  --color-indigo-6: hsl(221.61, 99.97%, 14.38%);

  --color-violet-1: hsl(263.85, 99.96%, 97.33%);
  --color-violet-2: hsl(263.17, 99.9%, 92.69%);
  --color-violet-3: hsl(258.3, 100%, 71.89%);
  --color-violet-4: hsl(255.43, 99.99%, 64.59%);
  --color-violet-5: hsl(250.39, 85.77%, 40.42%);
  --color-violet-6: hsl(245.8, 100%, 22.66%);

  --color-purple-1: hsl(288.22, 99.8%, 97.75%);
  --color-purple-2: hsl(287.36, 99.93%, 92.48%);
  --color-purple-3: hsl(284.08, 100%, 65.71%);
  --color-purple-4: hsl(284.55, 77.53%, 50.42%);
  --color-purple-5: hsl(285.23, 99.99%, 26.48%);
  --color-purple-6: hsl(284.23, 99.98%, 15.4%);

  --color-magenta-1: hsl(314.96, 99.99%, 97.66%);
  --color-magenta-2: hsl(313.78, 99.95%, 92.07%);
  --color-magenta-3: hsl(306.28, 94.77%, 52.17%);
  --color-magenta-4: hsl(305.92, 99.95%, 39.66%);
  --color-magenta-5: hsl(306.21, 99.97%, 22.8%);
  --color-magenta-6: hsl(306.68, 99.94%, 13.33%);

  --color-pink-1: hsl(332.82, 99.54%, 98.48%);
  --color-pink-2: hsl(331.79, 99.98%, 93.07%);
  --color-pink-3: hsl(322.24, 100%, 59.31%);
  --color-pink-4: hsl(319.09, 99.94%, 41.2%);
  --color-pink-5: hsl(319.97, 99.95%, 23.72%);
  --color-pink-6: hsl(321.26, 99.94%, 14.63%);

  --space-3xs: clamp(0.31rem, calc(0.3rem + 0.06vw), 0.38rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.69rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.18vw), 1.06rem);
  --space-s: clamp(1.13rem, calc(1.09rem + 0.24vw), 1.38rem);
  --space-m: clamp(1.69rem, calc(1.63rem + 0.36vw), 2.06rem);
  --space-l: clamp(2.25rem, calc(2.18rem + 0.48vw), 2.75rem);
  --space-xl: clamp(3.38rem, calc(3.27rem + 0.71vw), 4.13rem);
  --space-2xl: clamp(4.5rem, calc(4.36rem + 0.95vw), 5.5rem);
  --space-3xl: clamp(6.75rem, calc(6.54rem + 1.43vw), 8.25rem);

  --h1: clamp(2.8rem, calc(2.37rem + 2.85vw), 5.79rem);
  --h2: clamp(2.33rem, calc(2.05rem + 1.91vw), 4.34rem);
  --h3: clamp(1.94rem, calc(1.76rem + 1.25vw), 3.26rem);
  --h4: clamp(1.62rem, calc(1.5rem + 0.78vw), 2.44rem);
  --h5: clamp(1.35rem, calc(1.28rem + 0.46vw), 1.83rem);
  --p: clamp(1.13rem, calc(1.09rem + 0.24vw), 1.38rem);
  --small: clamp(0.94rem, calc(0.92rem + 0.09vw), 1.03rem);

  --head: "Playfair Display", "Playfair Display-fallback", serif;
  --body: "Mukta", "Mukta-fallback", sans-serif;
}

@font-face {
  font-family: "Playfair Display-fallback";
  src: local("Times New Roman");
  size-adjust: 111.19999999999999%;
  ascent-override: 92%;
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/playfair-display-v29-latin-700.woff2") format("woff2"),
    url("../fonts/playfair-display-v29-latin-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Mukta-fallback";
  src: local("Arial");
  size-adjust: 94.06%;
  ascent-override: 160%;
}

@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/mukta-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/mukta-v13-latin-regular.woff") format("woff");
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  cursor: default;
  background-color: var(--color-teal-2);
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: var(--color-teal-6) var(--color-teal-1);
  block-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:where(:not(fieldset, meter, progress)) {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  border-style: solid;
  border-width: 0;
}

::-moz-selection {
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

::selection {
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-teal-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-teal-6);
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--body);
  font-size: var(--p);
  font-weight: 400;
  color: var(--color-teal-6);
  background-color: var(--color-teal-1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100%;
}

:where(h1, h2, h3, h4, h5) {
  font-family: var(--head);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

small {
  font-size: var(--small);
}

address {
  font-style: normal;
}

a {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline-offset: 4px;
}

a:focus {
  outline: var(--color-powder-3) solid 4px;
}

a::before,
a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  background-color: var(--color-teal-6);
}

a::before {
  height: 2px;
  content: "";
  opacity: 0;
}

a:hover::before {
  opacity: 1;
  -webkit-animation: animate2 0.5s steps(2, start) forwards;
  animation: animate2 0.5s steps(2, start) forwards;
}

a:hover span {
  -webkit-animation: animate1 0.5s linear;
  animation: animate1 0.5s linear;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    opacity: 1;
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }

  10% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  20% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  35% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  50% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  70% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  80% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  90% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }

  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes animate1 {
  0% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    opacity: 1;
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }

  10% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  20% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  35% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  50% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  70% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  80% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  90% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }

  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes animate2 {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: translate3d(10px, 0, 0);
  }

  20% {
    transform: translate3d(0, 4px, 0);
  }

  30% {
    transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
    transform-origin: 100% 0%;
  }

  40% {
    transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
  }

  50% {
    transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
  }

  60% {
    transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
  }

  70% {
    transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
  }

  80% {
    transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
    transform-origin: 100% 0%;
  }

  90% {
    transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
    transform-origin: 0% 50%;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate2 {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: translate3d(10px, 0, 0);
  }

  20% {
    transform: translate3d(0, 4px, 0);
  }

  30% {
    transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
    transform-origin: 100% 0%;
  }

  40% {
    transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
  }

  50% {
    transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
  }

  60% {
    transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
  }

  70% {
    transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
  }

  80% {
    transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
    transform-origin: 100% 0%;
  }

  90% {
    transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
    transform-origin: 0% 50%;
  }

  100% {
    opacity: 1;
  }
}

:where(main, img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-style: none;
}

:where(ol, ul) {
  list-style: none;
}

:where(button, input, select, textarea),
:where(input[type="file"])::-webkit-file-upload-button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
}

:where(button, details) {
  touch-action: manipulation;
  cursor: pointer;
}

:where(input[type="file"])::-webkit-file-upload-button {
  cursor: pointer;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
}

:where(input[type="file"])::-webkit-file-upload-button {
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
  cursor: not-allowed;
}

details {
  display: block;
}

summary {
  display: list-item;
}

button {
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  outline: transparent solid 4px;
  -webkit-appearance: button;
}

button:focus {
  outline: var(--color-aquamarine-3) solid 4px;
}

textarea {
  overflow: auto;
  resize: none;
}

:where(b, strong) {
  font-weight: bolder;
}

hr {
  height: 0;
  overflow: visible;
  color: var(--color-teal-6);
}

.aspect-1-1 {
  aspect-ratio: 1/1;
}

.border-2 {
  border-width: 2px;
}

.cv-auto {
  content-visibility: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-6 {
  gap: clamp(8px, 6vw, 120px);
}

.grid {
  display: grid;
}

.grid-1 {
  grid-template-columns: minmax(0, 1fr);
}

.justify-end {
  justify-content: end;
}

.mt-6 {
  margin-top: clamp(8px, 6vw, 120px);
}

.pb-6 {
  padding-bottom: clamp(8px, 6vw, 120px);
}

.px-6 {
  padding-right: clamp(8px, 6vw, 120px);
  padding-left: clamp(8px, 6vw, 120px);
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-h3 {
  font-size: var(--h3);
}

.text-h5 {
  font-size: var(--h5);
}

@media (prefers-reduced-motion: reduce) {
  a:hover::before {
    opacity: 1;
    -webkit-animation: none;
    animation: none;
  }

  a:hover span {
    -webkit-animation: none;
    animation: none;
  }
}

/* 640 */
@media (min-width: 40em) {
  .sm-aspect-16-9 {
    aspect-ratio: 16/9;
  }

  .sm-gap-4 {
    gap: clamp(8px, 4vw, 80px);
  }

  .sm-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm-justify-self-end {
    justify-self: end;
  }

  .sm-mt-4 {
    margin-top: clamp(8px, 4vw, 80px);
  }

  .sm-w-70 {
    width: 70%;
  }
}

/* 960 */
@media (min-width: 60em) {
  .md-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* 1280 */
@media (min-width: 80em) {
  .lg-aspect-21-9 {
    aspect-ratio: 21/9;
  }

  .lg-gap-2 {
    gap: clamp(8px, 2vw, 40px);
  }

  .lg-mt-2 {
    margin-top: clamp(8px, 2vw, 40px);
  }
}

/* 1600 */
@media (min-width: 100em) {
}

/* 1920 */
@media (min-width: 120em) {
}
